$color_text_header: rgb(255, 255, 255);
$color_text_main: rgb(51, 51, 51);
$color_info_main: rgb(153, 153, 153);
$color_placeholder: rgb(204, 204, 204);
$color_ft_button: rgb(149, 225, 211);
$color_gradient_y: rgba(252, 227, 138, 0.9);
$color_gradient_o: rgba(243, 129, 129, 0.9);
$color_afterline:  rgb(229, 229, 229);
$color_placeholder_email: rgb(231, 231, 231);
$color_img_fill: #95e1d3;
$ff_kaush: "Kaushan Script";
$ff_mons: "Montserrat";
$ff_roboto: "Roboto";