
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(https://i1.7fon.org/1000/g795131.jpg);
    background-size: no-repeat;
  }
  
  a {
    display: block;
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  .container {
    width: 1400px;
    margin: 0 auto;
  }
  
  .search-form {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  input {
    width: 500px;
    padding: 20px;
    font-size: 15px;
    font-style: italic;
    border-radius: 5px;
    outline: none;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .photo__item {
    border-color: #f6f6f6;
    padding: 2px;
    border: 1px solid #d4d7dd;
    margin: 1px;
    margin-bottom: 15px;
  }
  
  .photo__card {
    object-fit: cover;
  }
  
  .gallary__photo__card {
    margin-bottom: 5px;
    height: 340px;
    width: 400px;
    object-fit: cover;
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
  }
  
  .stats-item {
    color:black;
    border-color: #f6f6f6;
    padding-left: 5px;
    border: 1px solid #d4d7dd;
    cursor: pointer;
    border-radius: 3px;
    width: 80px;
    display: flex;
    background-color:green;

  }
  .stats-item:hover,
  .stats-item:focus {
    color:white;
    transform: scale(1.2);
  }
  
  .material-icons {
    font-size: 20px;
  }
  .stats-item span{
    font-size: 15px;
    padding-top: 2px;
  }

  .button {
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 20px;
    color:  green;
    background-color: white;
    opacity: 0.9;
    border: none;
    outline: none;
  }
  